<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .is-completed {
      text-decoration: line-through;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Todo Application</h1>

    <p>Completed Count: {{ count }}</p>

    <form @submit.prevent="addTodo">
      <select v-model="selected">
        <option value="all">전체</option>
        <option value="completed">완료</option>
        <option value="progress">미완료</option>
      </select>
      <input type="text" v-model="newTodo">
      <input type="submit" value="Add">
    </form>
    
    <ul>
      <li v-for="todo in filteredTodos" :key="todo.id">
        <input type="checkbox" v-model="todo.isCompleted">
        <span :class="{ 'is-completed': todo.isCompleted }">{{ todo.text }}</span>
        <button @click="deleteTodo(todo.id)">Delete</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref, computed, watch } = Vue

    const app = createApp({
      setup() {
        const todos = ref([])
        const newTodo = ref('')

        const addTodo = function () {
          if (newTodo.value.trim() !== '') {
            const todoObj = {
              id: Date.now(),
              text: newTodo.value,
              isCompleted: false
            }
            todos.value.push(todoObj)
            newTodo.value = ''
          }
        }

        const deleteTodo = function (todoId) {
          const index = todos.value.findIndex(todo => todo.id === todoId)
          if (index !== -1) {
            todos.value.splice(index, 1)
          }
        }

        const count = ref(0)
        watch(todos, (newTodos) => {
          count.value = newTodos.filter(todo => todo.isCompleted === true).length
        },
        {deep:true})

        const selected = ref('progress')
        const filteredTodos = computed(() => {
          if (selected.value === 'completed') {
            return todos.value.filter(todo => todo.isCompleted)
          } else if (selected.value === 'progress') {
            return todos.value.filter(todo => !todo.isCompleted)
          }
            return todos.value
        }) 

        return { todos, newTodo, addTodo, deleteTodo, count, selected, filteredTodos }
      }
    })

    app.mount('#app')

  </script>
</body>

</html>
